$middleOrange: #ffa000;
$mintGreen: #46d4b4;
$lightestBlue: #1580de;

// 1.
.SvgCircle_One {
  -webkit-animation: fillOne 1s linear forwards;
          animation: fillOne 1s linear forwards;
}

@-webkit-keyframes fillOne {
  100% {
    fill: $middleOrange;
  }
}

@keyframes fillOne {
  100% {
    fill: $middleOrange;
  }
}

// 2.
.SvgCircle_Two {
  -webkit-animation: fillTwo 1s linear forwards;
          animation: fillTwo 1s linear forwards;
}

@-webkit-keyframes fillTwo {
  100% {
    fill: $mintGreen;
  }
}

@keyframes fillTwo {
  100% {
    fill: $mintGreen;
  }
}

// 3.
.SvgCircle_Three {
  -webkit-animation: fillThree 1s linear forwards;
          animation: fillThree 1s linear forwards;
}

@-webkit-keyframes fillThree {
  100% {
    fill: $lightestBlue;
  }
}

@keyframes fillThree {
  100% {
    fill: $lightestBlue;
  }
}
