$--color-primary: #1b3a57;
$--color-secondary: #476282;
$--color-tertiary: #476282;
$--color-disabled: #8ea1b9;
$--default-border: #c3cfdd;

$darkestBlue: #051e34;
$darkerBlue: #083053;
$lightBlue: #0e5491;
$lightestBlue: #1580de;

$middleOrange: #ffa000;
$mintGreen: #46d4b4;
$lightestBlue: #1580de;

.CustomerForm {
  grid-area: Customer;
  padding: 2rem;
}

.CustomerFormContainer {
  width: 60%;
  border: 0.5px solid $--default-border;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgb(255, 255, 255);
}

.TableNav {
  padding: 1rem;
  width: 100%;
  background-color: rgb(250, 250, 250);
  font-weight: 500;
  border-bottom: 0.5px solid $--default-border;
  border-top: 0.5px solid $--default-border;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.TableNav:first-child {
  border-top: none;
}

.TableForm {
  width: 100%;
  padding: 1rem 1rem 3rem 3rem;
}

.FirstTd {
  width: 5%;
  vertical-align: bottom;
}
.SecondTd {
  width: 30%;
  vertical-align: bottom;
}

.CustomerForm .Content {
  display: none;
}

.CustomerForm .Button {
  margin: 1rem;
}

.CustomerForm input::-webkit-input-placeholder {
  font-size: 1rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}

.CustomerForm input::-moz-placeholder {
  font-size: 1rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}

.CustomerForm input:-ms-input-placeholder {
  font-size: 1rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}

.CustomerForm input::-ms-input-placeholder {
  font-size: 1rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}

.CustomerForm input::placeholder {
  font-size: 1rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}

.color {
  height: 1.3rem;
  width: 0.2rem;
  margin-right: 0.5rem;
}

.ColorTitle {
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 480px) {
  .CustomerFormContainer {
    width: 100%;
  }

  .CustomerFormContainer .TableForm {
    padding: 1rem;
  }

  .CustomerFormContainer .TableForm .ThirdTd .Input {
    width: 100%;
  }

  .CustomerFormContainer .TableForm .SecondTd {
    font-size: 0.9rem;
    width: 40%;
  }

  .CustomerForm input::-webkit-input-placeholder {
    font-size: 0.9rem;
  }

  .CustomerForm input::-moz-placeholder {
    font-size: 0.9rem;
  }

  .CustomerForm input:-ms-input-placeholder {
    font-size: 0.9rem;
  }

  .CustomerForm input::-ms-input-placeholder {
    font-size: 0.9rem;
  }

  .CustomerFormContainer .TableForm .ThirdTd .Input > input,
  .CustomerFormContainer .TableForm .ThirdTd .Input > select,
  .CustomerForm input::placeholder {
    font-size: 0.9rem;
  }
}
