$--color-primary: #1b3a57;
$--color-secondary: #476282;
$--color-tertiary: #476282;
$--default-border: #c3cfdd;

$middleOrange: #ffa000;
$mintGreen: #46d4b4;
$lightestBlue: #1580de;

.Documentation {
  grid-area: Customer;
  padding: 2rem;
  color: rgba(0, 0, 0, 0.6);
}

.Documentation h2 {
  color: $--color-primary;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 2.5rem 0rem 1rem 0rem;
}

.Intro h2 {
  color: $middleOrange;
}

.Documentation h2:first-child {
  margin-top: 0rem;
}

.Documentation h3 {
  color: $--color-secondary;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 0rem;
}

.Documentation p {
  margin-bottom: 1rem;
}

.Documentation li {
  list-style: inside;
  margin-bottom: 1rem;
}

.Documentation ul {
  list-style: inside;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

.Documentation a {
  text-decoration: none;
  cursor: pointer;
  color: $--color-tertiary;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
  }
}

.RatioDef {
  margin-top: 1rem;
}

.Formula,
.Intro {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 0.5px solid $--default-border;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
  background-color: rgb(255, 255, 255);
}

.blue {
  background-color: $lightestBlue;
  width: 0.3rem;
  height: 1rem;
  margin-right: 0.3rem;
}

.Documentation .Reports {
  border: 0.5px solid $--default-border;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
  background-color: rgb(255, 255, 255);
}

.Documentation .Report_TBody .FirstTableData {
  width: auto;
}

.Intro {
  flex-direction: column;
  align-items: flex-start;
}

.Documentation .Report_Title {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 480px)  {
  .Documentation .Reports {
    display: flex;
    flex-direction: column;
  }

  .Documentation .Report_First, 
  .Documentation .Report_Second {
    width: 100%;
  }
}
