$--default-border: #c3cfdd;

.SearchBar {
  display: flex;
  align-items: center;
  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
  padding-right: 8rem;
  color: rgba(0, 0, 0, 0.4);
}

.SearchBar .Input {
  padding-top: 0;
  width: 50%;
}

.SearchBar .Label::after {
  transition: none;
}

.SearchBar .InputElement {
  font-size: 1rem;
}

.fa-search {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

@media only screen and (max-width: 480px) {
  .SearchBar {
    padding-right: 0;
    justify-content: flex-start;
    margin-top: 1.5rem;
    background-color: white;
    border: 1px solid #c3cfdd;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
    padding-left: 0.2rem;
  }

  .SearchBar .Input {
    width: 100%;
  }

  .SearchBar .Label {
    border-bottom: none;
  }
}
