$blueGray20: #f5f7f8;

$--color-primary: #1b3a57;
$--color-secondary: #476282;
$--color-tertiary: #476282;
$--color-disabled: #8ea1b9;
$--default-border: #c3cfdd;

.Home {
  display: grid;
  grid-template-areas:
    "Toolbar Navbar Navbar Navbar"
    "Toolbar Customer Customer Customer"
    "Toolbar Customer Customer Customer";
  grid-template-columns: 20% 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $blueGray20;
}

@media only screen and (max-width: 480px) {
  .Home {
    grid-template-areas:
      "Navbar"
      "Customer"
      "Customer";
    grid-template-columns: 1fr;
  }
}
