$--color-primary: #1b3a57;
$--color-secondary: #476282;
$--color-tertiary: #476282;
$--color-disabled: #8ea1b9;
$--default-border: #c3cfdd;

$blueGray20: #f5f7f8;

.Navbar {
  grid-area: Navbar;
  min-height: 6rem;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-bottom: 1px solid $--default-border;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Navbar h1,
.fa-bars {
  color: $--color-primary;
  font-size: 1.8rem;
  font-weight: 400;
}

.fa-bars {
  margin-right: 0.5rem;
  display: none;
}

.BurgerIcon_And_Title {
  display: flex;
  align-items: center;
}

.LogoutSign {
  display: flex;
  justify-content: flex-end;
}

.LogoutSign .Logout .Button {
  margin-top: 0;
  background-color: $--color-secondary;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media only screen and (max-width: 600px) {
  .Navbar {
    background-color: $blueGray20;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    display: flex;
    flex-direction: column-reverse;
    min-height: auto;
  }

  .Navbar h1,
  .fa-bars {
    font-size: 1.4rem;
  }

  .fa-bars {
    display: inline-block;
  }

  .LogoutSign, 
  .LogoutSign .Button {
    display: none;
  }

  .SearchBar {
    padding-right: 0;
  }
}
