$--color-primary: #1b3a57;
$--color-secondary: #476282;
$--color-tertiary: #476282;
$--color-disabled: #8ea1b9;
$--default-border: #c3cfdd;

.Navbar {
  grid-area: Navbar;
  min-height: 6rem;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-bottom: 1px solid $--default-border;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Navbar > h1 {
  color: $--color-primary;
  font-size: 1.8rem;
  font-weight: 400;
}

.LogoutSign {
  display: flex;
  justify-content: flex-end;
}

.LogoutSign .Logout .Button {
  margin-top: 0;
  background-color: $--color-secondary;
  position: absolute;
  top: 10px;
  right: 10px;
}
