$lightestBlue: #1580de;

.Input {
  width: 80%;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
  padding-top: 20px;
  overflow: hidden;
}

.Label {
  color: #9c9a9b;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  border-bottom: 0.5px solid #d5d7d9;
}

.Invalid { 
  border-bottom: 0.5px solid red;
}

.Label:focus {
  border-bottom: 0.5px solid #d5d7d9;
}

.LabelCheckbox {
  color: #9c9a9b;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  margin-bottom: 10px;
}

.Label::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid $lightestBlue;
  bottom: 0px;
  left: 0px;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.Content {
  position: absolute;
  top: 10px;
  left: 0px;
  transition: all 0.3s ease;
}

.SmallLetter {
  font-size: 0.7rem;
  transform: translateY(-100%);
}

.InputElement:focus + .Label .Content {
  transform: translateY(-100%);
  font-size: 0.7rem;
}

.InputElement:focus + .Label::after {
  transform: translateX(0%);
}

.InputElement:focus {
  color: $lightestBlue;
}

.InputElement {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: #9c9a9b;
  font-weight: 300;
  font-size: 1.2rem;
}

// .Invalid {
//   animation: invalid 1s ease-in forwards;
// }

// @keyframes invalid {
//   100% {
//     border-bottom: 0.5px solid red;
//   }
// }


.InputSelect {
  width: 100%;
  border: none;
  color: rgba(0, 0, 0, 0.6);
}

.InputSelect:focus {
  outline: none;
}

.InputSelect:first-child {
  color: #9c9a9b;
}
