$--default-border: #c3cfdd;
$--color-primary: #1b3a57;
$darkestBlue: #051e34;

$middleOrange: #ffa000;
$mintGreen: #46d4b4;
$lightestBlue: #1580de;

.CustomerShow {
  grid-area: Customer;
  padding: 2rem;
}

.Delete {
  background-color: red;
}

.Delete:hover {
  background-color: red;
}

.CustomerShowContainer {
  display: flex;
}

.CustomerShowContainer_Left {
  width: 70%;
}

.MainTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 0.5px solid $--default-border;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

.MainTitle > div {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.CustomerShow_Buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CustomerShow_Buttons > button,
.CustomerShow_Buttons .Button {
  margin-top: 0;
}

.CustomerShow_Buttons .Button {
  margin-right: 0.5rem;
}

.Info_and_Industry {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Info_and_Industry > div:first-child {
  margin-right: 2rem;
  width: 60%;
}

.Info_and_Industry > div:nth-child(2) {
  width: 40%;
}

.Finance {
  margin-top: 2rem;
}

.Reports {
  padding: 1rem;
  width: 100%;
  display: flex;
}

.Report_Title {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
}

.Report_Title > div:first-child,
.Ratios .Report_Title {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.Report_First,
.Report_Second {
  width: 50%;
}

.Report_First {
  margin-right: 2rem;
}

.Report_Table {
  padding-left: 1rem;
  width: 100%;
}

.First_TBody > tr:nth-child(2) > td:nth-child(2),
.First_TBody > tr:nth-child(5) > td:nth-child(2),
.First_TBody > tr:nth-child(8) > td:nth-child(2),
.First_TBody > tr:nth-child(11) > td:nth-child(2),
.Second_TBody > tr:nth-child(2) > td:nth-child(2),
.Second_TBody > tr:nth-child(6) > td:nth-child(2) {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.First_TBody > tr:nth-child(3) > td,
.First_TBody > tr:nth-child(3) > td > b,
.First_TBody > tr:nth-child(6) > td,
.First_TBody > tr:nth-child(6) > td > b,
.First_TBody > tr:nth-child(9) > td,
.First_TBody > tr:nth-child(9) > td > b,
.First_TBody > tr:nth-child(10) > td,
.First_TBody > tr:nth-child(10) > td > b,
.First_TBody > tr:nth-child(12) > td,
.First_TBody > tr:nth-child(12) > td > b,
.Second_TBody > tr:nth-child(3) > td,
.Second_TBody > tr:nth-child(3) > td > b,
.Second_TBody > tr:nth-child(7) > td,
.Second_TBody > tr:nth-child(7) > td > b {
  font-weight: 400;
  padding-left: 0.3rem;
}

.First_TBody > tr:nth-child(10) > td,
.First_TBody > tr:nth-child(10) > td > b {
  padding-top: 0.8rem;
}

.Report_TBody .FirstTableData {
  width: 70%;
  margin-right: 2rem;
}

.Report_TBody .FirstTableData > b {
  font-weight: 300;
}

.Report_TBody .SecondTableData {
  text-align: right;
}

.Ratios {
  width: 100%;
  padding: 1rem;
}

.Ratios_Main {
  display: flex;
}

.Ratios_Main > table:first-child {
  margin-right: 2rem;
}
.Ratios_Main .FirstTableData > b {
  padding-left: 0.3rem;
}

.Ratios_Main .Left_TBody > tr:nth-child(1) > td > b,
.Ratios_Main .Left_TBody > tr:nth-child(4) > td > b,
.Ratios_Main .Right_TBody > tr:nth-child(1) > td > b,
.Ratios_Main .Right_TBody > tr:nth-child(3) > td > b {
  font-weight: 400;
  padding-left: 0;
}

.CustomerShowContainer_Right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.HighlightData {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid $--default-border;
  font-weight: 100;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.HighlightData_Title {
  letter-spacing: 0.3rem;
  margin-top: 0.5rem;
}

.HighlightData_Data {
  display: flex;
  align-items: flex-start;
}

.HighlightData_Data > div {
  font-size: 2.4rem;
  font-weight: 100;
}

.Currency {
  padding-top: 0.3rem;
}

$darkestBlue: #051e34;
$darkerBlue: #083053;
$lightBlue: #0e5491;
$lightestBlue: #1580de;

.One {
  background-image: linear-gradient($lightestBlue, $lightBlue);
  padding: 3rem 2rem;
}

.Two {
  background-image: linear-gradient($lightBlue, $darkerBlue);
}

.Three {
  background-image: linear-gradient($darkerBlue, $--color-primary);
}

.Four {
  background-image: linear-gradient($--color-primary, $darkestBlue);
  padding: 3rem 2rem;
}

@media only screen and (max-width: 480px) {
  .CustomerShowContainer,
  .Info_and_Industry,
  .CustomerShowContainer .Reports,
  .Ratios_Main,
  .CustomerShowContainer_Left .MainTitle {
    flex-direction: column;
  }

  .CustomerShow_Buttons {
    margin-top: 1rem;
  }

  .CustomerShowContainer_Left,
  .Info_and_Industry > div:nth-child(2),
  .CustomerShowContainer_Left .Report_First,
  .CustomerShowContainer_Left .Report_Second {
    width: 100%;
  }

  .Info_and_Industry > div:first-child {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .CustomerShowContainer_Left .Report_First {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .CustomerShowContainer_Right {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
  }

  .HighlightData {
    margin-bottom: 1rem;
  }
}
